body {
  margin: 0;
  overflow: hidden;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  /* Start with sidebar hidden */
  width: 200px;
  height: auto;
  padding: 20px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
}

.sidebar img {
  width: 100%;
  height: auto;
}

.show-blocks {
  transform: translateY(0px); /* Slide the sidebar into view */
}

.hide-blocks {
  transform: translateY(-700px); /* Slide the sidebar into view */
}

.blocks {
  position: fixed;
  bottom:-550px;
  /* Start with sidebar hidden */
  width: 100%;
  height: auto;
  padding-bottom: -20px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
}

.blocks img {
  width:100%;
  height: auto;
}
