body {
    margin: 0;
    overflow: hidden;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
     /* Start with sidebar hidden */
    width: 200px;
    height: auto;
    padding: 20px;
    transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
  }
  
  .sidebar img {
    width: 100%;
    height: auto;
  }
  
  .show-sidebar {
    transform: translateX(0px); /* Slide the sidebar into view */
  }

  .hide-sidebar {
    transform: translateX(250px); /* Slide the sidebar into view */
  }